link(rel='stylesheet',href='/stylesheets/dashboard.css')
link(rel='stylesheet',href='/stylesheets/scrollpane.css')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/scrollpane.js')
script(src='/javascripts/mousewheel.js')
script
  var URL = '#{url}';
script(src='/javascripts/dashboard.js')

#wrapper
  #header
    #infostuffs
      img#logo(src='images/logo.png')
      a#bookmarklet(href="javascript:var g=document.getElementById('graphedia');if(!g){g=document.createElement('script');g.setAttribute('src','http://"+url+"/js/bookmarklet.js?'+Date.now());g.setAttribute('type','text/javascript');g.setAttribute('id','graphedia');document.body.appendChild(g);void(0);}") drag bookmarklet
      a#logout(href='/logout') logout
    #name hello #{username}.

  #section1
    #column1
      #top-sites.sectionWrapper
        .sectionTitle.topSites
          | My Comments
        .commentScroller
          br
          - my_comments.forEach(function(comment) {
          .myComment 
            .myCommentUps #{comment.ups}
            .myCommentText #{comment.body} 
          - })
          br
          br
 
       
      #firehose.sectionWrapper
        .sectionTitle.fireHose
          | My Replies
        .commentScroller
          - replies_to_me.forEach(function(reply) {
          .reply
            .author #{reply.author}
              span.black  said
            .text "#{reply.body}"
            .original 
              | in reply to
              a(href=reply.page_url) #{reply.parent_body}
          - })

          br
          br  
    #column2
      .sectionWrapper
        .sectionTitle.myReplies
          | Top Sites
        .commentScroller
          .site
             .site-title 
               a(href='beefribsham.com') beef ribs ham.com
             .comment-number 42
           .site
             .site-title 
               a(href='beefribsham.com') beef ribs ham.com
             .comment-number 42
           .site
             .site-title 
               a(href='beefribsham.com') beef ribs ham.com
             .comment-number 42
           .site
             .site-title
               a(href='beefribsham.com') beef ribs ham.com
             .comment-number 42
           .site
             .site-title 
               a(href='beefribsham.com') beef ribs ham.com
             .comment-number 42
           .site
             .site-title 
               a(href='beefribsham.com') beef ribs ham.com
             .comment-number 42
             br
             br
  #section2
    #column3
      .sectionWrapper
        .sectionTitle.topComments
          | Top Comments
        .commentScroller
          - top_comments.forEach(function(comment) {
          .comment
            .topAuthor #{comment.author}
            .points #{comment.ups}
            .topText #{comment.body}
          - })
          br
          br
    #column4
      .sectionWrapper
        .sectionTitle.myComments
          | Firehose
        .commentScroller
          - latest_comments.forEach(function(comment) {
          .comment
            a(href=comment.page_url) #{comment.page_url}
            .author #{comment.author}
            .text #{comment.body}
          - })
          br
          br

    
        
  #footer
  
  script(type='text/javascript')
   $(function()
   {
    $('.commentScroller').jScrollPane({showArrows:true});
   });