link(rel='stylesheet',href='/stylesheets/dashboard.css')
link(rel='stylesheet',href='/stylesheets/scrollpane.css')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/scrollpane.js')
script(src='/javascripts/mousewheel.js')
script(src='/javascripts/sort.js')
script
  var URL = '#{url}';
script(src='/javascripts/dashboard.js')

#wrapper
  #header
    #infostuffs
      img#logo(src='images/logo.png')
      a#bookmarklet(href="javascript:var g=document.getElementById('graphedia');if(!g){g=document.createElement('script');g.setAttribute('src','http://"+url+"/js/bookmarklet.js?'+Date.now());g.setAttribute('type','text/javascript');g.setAttribute('id','graphedia');document.body.appendChild(g);void(0);}") drag bookmarklet
      a#logout(href='/logout') logout
    #name hello #{username}.

  #section1
    #column1
      #top-sites.sectionWrapper
        .sectionTitle.topSites
          | My Comments
        .commentScroller
          br
          - my_comments.forEach(function(comment) {
          .myComment(id='mc_'+comment._id, js_value=comment.page_url)
            .myCommentUps #{comment.ups}
            .myCommentText #{comment.body} 
          - })
          br
          br
 
       
      #firehose.sectionWrapper
        .sectionTitle.fireHose
          | My Replies
        .commentScroller
          - replies_to_me.forEach(function(reply) {
          .reply(id='reply_'+reply._id,js_value=reply.page_url)
            .author #{reply.author} 
              span.black said
            .text "#{reply.body}"
            .original 
              | in reply to #{reply.parent_body}
          - })

          br
          br  
    #column2
      .sectionWrapper
        .sectionTitle.myReplies
          | Top Sites
        .commentScroller
          .site(js_value='beefribsham.com')
             .site-title 
             | beef ribs ham.com
             .comment-number 42
             br
             br
  #section2
    #column3
      .sectionWrapper
        .sectionTitle.topComments
          | Top Comments
        .commentScroller
          - top_comments.forEach(function(comment) {
          .top-comment(id='top_'+comment._id, js_value=comment.page_url)
            .topAuthor #{comment.author}
            .points #{comment.ups}
            .topText #{comment.body}
          - })
          br
          br
    #column4
      .sectionWrapper
        .sectionTitle.myComments
          | Firehose
        .commentScroller
          - latest_comments.forEach(function(comment) {
          .firehose-comment(js_value=comment.page_url)
            .author #{comment.author}
            .text #{comment.body}
          - })
          br
          br

    
        
  #footer
