link(rel='stylesheet',href='/stylesheets/dashboard.css')
link(rel='stylesheet',href='/stylesheets/scrollpane.css')
script(src='/javascripts/scrollpane.js')
script(src='/javascripts/mousewheel.js')

#wrapper
  #header
    #infostuffs
      img#logo(src='images/logo.png')
      a#bookmarklet(href="javascript:var g=document.getElementById('graphedia');if(!g){g=document.createElement('script');g.setAttribute('src','http://"+url+"/js/bookmarklet.js?'+Date.now());g.setAttribute('type','text/javascript');g.setAttribute('id','graphedia');document.body.appendChild(g);void(0);}") drag bookmarklet
      a#logout(href='/logout') logout
    #name hello #{username}.

  #section1
    #column1
      | my comments, yo
      - my_comments.forEach(function(comment) {
      p #{comment.body} (#{comment.ups})
      - })
    #column2
      | replies to my shit, dawg.
      br
      - replies_to_me.forEach(function(reply) {
      .reply
        .author #{reply.author}
        .text #{reply.body}
        .original
          a(href="#{reply.page_url}") #{reply.parent_body}
      - })
  #section2
    #column3
      | top comments, nigga
      br
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pige
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pige
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pige
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pige
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pige
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pig
        .text Shank t-bone pork loin
      .comment
        .author Babe the Pige
        .text Shank t-bone pork loin

    #column4
      #top-sites
        | top sites, cuntnugget.
        br
        .site 
          .title 
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
        .site 
          .title 
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
        .site 
          .title 
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
        .site 
          .title
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
        .site 
          .title 
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
        .site 
          .title 
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
        .site 
          .title 
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
        .site 
          .title
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
        .site 
          .title 
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
        .site 
          .title 
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
        .site 
          .title 
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
        .site 
          .title
            a(href='beefribsham.com') beef ribs ham.com
          .comment-number 42
      #firehose
        | fuckin' firehouse, bitch. click one of these bitches and be taken to the website
        br
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pig
          .text Shank t-bone pork loin
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pig
          .text Shank t-bone pork loin
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pig
          .text Shank t-bone pork loin
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pige
          .text Shank t-bone pork loin
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pig
          .text Shank t-bone pork loin
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pig
          .text Shank t-bone pork loin
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pig
          .text Shank t-bone pork loin
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pige
          .text Shank t-bone pork loin
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pig
          .text Shank t-bone pork loin
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pig
          .text Shank t-bone pork loin
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pig
          .text Shank t-bone pork loin
        .comment
          a(href='beefribsham.com') beef ribs ham.com
          .author Babe the Pige
          .text Shank t-bone pork loin
  #footer
  
  script(type='text/javascript')
   $(function()
   {
    $('#column1').jScrollPane();
    $('#column2').jScrollPane();
    $('#column3').jScrollPane();
    $('#top-sites').jScrollPane();
    $('#firehose').jScrollPane();
   });